
@{
    // ViewData["Title"] = "Index";
}

<h1>Главная страница администратора</h1>

<p><a href="/News">Редактирование новостей </a></p>
<p><a href="/Staff">Редактирование штата кафедры </a></p>
<p><a asp-area="Identity" asp-page="/Account/Register">Регистрация админа</a></p>

