
@{
    ViewData["Title"] = "Conacts";
}



<p>
    e-mail: <a href="mailto:d_se@nure.ua">d_se@nure.ua</a> <br />
    Україна, 61166, м. Харків, <br />
    пр. Науки 14, ХНУРЕ, к.267<br />
    станція метро «Наукова» <br />
    Тел: (380-57) 702-14-46<br />
    <br />
    Сайт ХНУРЕ:<br /><a href="http://nure.ua/">http://nure.ua</a>
</p>
<p>
    Посилання на соціальні мережі ХНУРЕ:
    <a target="_blank" rel="noopener noreferrer" href="https://www.facebook.com/nureKharkiv/">https://www.facebook.com/nureKharkiv/</a>
    <a target="_blank" rel="noopener noreferrer" href="https://www.instagram.com/khnure_official/">https://www.instagram.com/khnure_official/</a>
    <a target="_blank" rel="noopener noreferrer" href="http://t.me/nure_press">t.me/nure_press</a>

<p> Посилання на соціальні мережі кафедри:
<p> <a target="_blank" rel="noopener noreferrer" href="https://www.facebook.com/pg/se121.nure.ua/">https://www.facebook.com/pg/se121.nure.ua/</a>
<p> <a target="_blank" rel="noopener noreferrer" href="https://www.facebook.com/groups/se121.nure.ua/">https://www.facebook.com/groups/se121.nure.ua/</a>
<p> <a target="_blank" rel="noopener noreferrer" href="https://www.linkedin.com/company/se121-nure-ua/">https://www.linkedin.com/company/se121-nure-ua/</a>
<p> <a target="_blank" rel="noopener noreferrer" href="https://www.instagram.com/se121.nure.ua/">https://www.instagram.com/se121.nure.ua/</a>


