
@{
    ViewData["Title"] = "Education";
}

<h3 class="page_header">ДОКУМЕНТИ З ОСВІТНЬОГО ПРОЦЕСУ</h3>
<h2 class="page_header">Спеціальність 121 – Інженерія програмного забезпечення</h2>

<p>Чинні навчальні плани і програми доступні   <a href="https://nure.ua/abituriyentam/spetsialnosti-ta-spetsializatsiyi/spetsialnist-121-inzheneriya-programnogo-zabezpechennya">тут </a>.



<p><a href="https://drive.google.com/drive/folders/11EjISUpyF8XPa1u1lRNNL-gG2nV1JoJa?usp=sharing" target="_blank">Рівень підготовки "Бакалавр"</a>
<p><a href="https://drive.google.com/drive/folders/19b9dIb4xyaoHWpIOPTgfvd505hMHXNY3?usp=sharing" target="_blank">Рівень підготовки "Магістр" </a>
<p>
    <a href="https://drive.google.com/drive/folders/1zL36-6Kym0kWf-Mi0I1PMQV7ZMuHR_3u?usp=sharing" target="_blank">Рівень підготовки "Доктор філософії".  </a>
    Форма для обговорення ОНП зі спеціальності 121 Інженерія програмного забезпечення рівня підготовки "Доктор філософії" <a href="https://forms.gle/x8sEeUiCRicZxx7s5">тут </a>
<p>Чинні навчальні плани і програми рівня підготовки "Доктор філософії" доступні   <a href="https://nure.ua/branch/viddil-aspiranturi-ta-doktoranturi/specialnosti-ta-osvitno-naukovi-programi/121-inzhenerija-programnogo-zabezpechennja">тут </a>.

<p>
<p>
    <h2 class="page_header">Накази</h2>
<p><a href="https://drive.google.com/drive/folders/128xQT52qjilVeW_yZfiiVI4SuVNXysGC?usp=sharing" target="_blank">Накази на практику</a>
<p>
    <a href="https://drive.google.com/drive/folders/1gdakIUq1vCRGsZ4cYmOvwjCJsmN9MNgx?usp=sharing" target="_blank">Накази  на дипломування</a>


    <h2 class="page_header">Інші</h2>
<p><a href="~/doc/Ресурсне забезпечення.docx"> Ресурсне забезпечення для організації освітнього процесу.</a>
