
@{
    ViewData["Title"] = "Graduates";
}

<h3 class="page_header">ВИПУСКНИКИ</h3>
<p>Щороку кафедра Програмної інженерії ХНУРЕ запрошує на навчання велику кількість абітурієнтів, з першого дня занурюючи їх у атмосферу професіоналізму та невпинного самовдосконалення. Щоб відповідати власним високим стандартам, кафедра залучає провідних спеціалістів до викладання професійно-орієнтованих дисциплін, організовує факультативи на базі наукових лабораторій та надає безліч інших можливостей підвищити свій професійний рівень.
<p>Але якнайкраще про якість здобутої освіти говорять професійні успіхи й досягнення її випускників. Вони – успішні та висококваліфіковані спеціалісти у найрізноманітніших галузях комп’ютерних наук, що мають попит на Батьківщині та за кордоном.
<p>
    <strong>Кафедра ПІ ХНУРЕ пишається своїми випускниками, і покладає великі надії на молоде покоління – майбутню технічну еліту країни!</strong>
</p>
<p>Апухтін Владислав Геннадійович (ПІ-14-1, ПЗСм-18-1)     <a href="https://www.facebook.com/vladyslav.apukhtin" target="_blank">  facebook </a>   &nbsp   <a href="https://www.linkedin.com/in/vladyslav-apukhtin-085428107/" target="_blank">  	linkedIn</a>
<p>Зимарев Кирилл Дмитриевич (ПЗСм-18-1)  &nbsp   &nbsp   <a href="https://www.linkedin.com/in/kirill-zimarev-3a751a17a" target="_blank">  	linkedIn</a>
<p>Пидоренко Дар'я Олександрівна(ПЗСм-18-1)     <a href="https://www.facebook.com/venkaDaria" target="_blank">  facebook </a>
<p>Різник Олександр Костянтинович (ПІ-14-2)     <a href="https://www.facebook.com/rezn1kya" target="_blank">  facebook </a>   &nbsp   <a href="https://www.linkedin.com/in/oleksandr-riznyk-ab869b149/" target="_blank">  	linkedIn</a>
<p>Гладуш Іван Валерійович (ІПЗм-18-1)       &nbsp   <a href="https://www.linkedin.com/in/ivan-gladush-73a877125/" target="_blank">  	linkedIn</a>
<p>Полторацький Антон Олександрович (ІПЗм-18-4)     <a href="https://www.facebook.com/profile.php?id=100012964934139" target="_blank">  facebook </a>   &nbsp   <a href="https://www.linkedin.com/in/anton-poltoratskyi/" target="_blank">  	linkedIn</a>
<p>
    Ворожка Станіслав Олександрович  (ПІ-14-4, ІПзМ-18-1)     &nbsp   <a href="https://www.linkedin.com/in/stanislav-vorozhka-7a25a2172/
" target="_blank">  	linkedIn</a>
<p>Панченко Дмитро Вікторович  (ІПЗм-18-1)      &nbsp   <a href="https://www.linkedin.com/in/dmytro-panchenko-931692111/" target="_blank">  	linkedIn</a>
<p>Нємцов Микита В'ячеславович (ІПЗм-18-3)    &nbsp   <a href="https://www.linkedin.com/in/nikita-nemtsov-a04680123/" target="_blank">  	linkedIn</a>
<p>Топчій Олександр Дмитрович (ІПЗм-18-2)     <a href="https://www.facebook.com/alexandr.topchiy.9" target="_blank">  facebook </a>   &nbsp   <a href="https://www.linkedin.com/in/oleksandr-topchii-264241138/" target="_blank">  	linkedIn</a>
<p>Нірі Михайло Юрійович (ІПЗм-18-1)     <a href="https://www.facebook.com/profile.php?id=100001832568072" target="_blank">  facebook </a>   &nbsp   <a href="https://www.linkedin.com/in/михаил-нири-7ab505a0/" target="_blank">  	linkedIn</a>
<p>Чачанідзе Сергій Сергійович (ІПЗм-18-2)      &nbsp   <a href="https://www.linkedin.com/in/sergey-chachanidze-3795a7132/" target="_blank">  	linkedIn</a>
<p>Радченко Гліб Сергійович (ІПЗм-18-4)     <a href="https://www.facebook.com/gleb.radchenko.1" target="_blank">  facebook </a>   &nbsp   <a href="https://www.linkedin.com/in/radchenkogleb/" target="_blank">  	linkedIn</a>
<p>Будянський Олексій Олексійович (ІПЗм-18-3)     <a href="https://www.facebook.com/Alex.budyanskiy" target="_blank">  facebook </a>   &nbsp   <a href="https://www.linkedin.com/in/oleksii-budianskyi-69a5a4117/" target="_blank">  	linkedIn</a>
<p>Єрьоменко Максим Олександрович (2020)     &nbsp   <a href="https://www.linkedin.com/in/maxim-eremenko/" target="_blank">  	linkedIn</a>
<p>Андронова Катерина Сергіївна (ІПЗм-18-1)    &nbsp   <a href="https://www.linkedin.com/in/katerynaandronova/" target="_blank">  	linkedIn</a>
<p>Кирилл Константинович Жаренков (ИПЗ, 2020 р.)    &nbsp   <a href="https://www.linkedin.com/in/kirill-zharenkov-915a5613b/" target="_blank">  	linkedIn</a>
<p>Горелов Олександр Юрійович (ІПЗм-18-2)      &nbsp   <a href="https://www.linkedin.com/in/oleksandr-horelov-283b291a0/" target="_blank">  	linkedIn</a>
<p>Шевченко Дмитро Олександрович (ІПЗм-18-2)     <a href="https://www.facebook.com/profile.php?id=100014327437564" target="_blank">  facebook </a>   &nbsp   <a href="https://www.linkedin.com/in/dmytro-shevchenko-117b2116a/" target="_blank">  	linkedIn</a>
<p>Терещенко Гліб Юрійович (ІПЗм-18-1)     <a href="https://www.facebook.com/gleb.tereschenko.9" target="_blank">  facebook </a>   &nbsp   <a href="https://www.linkedin.com/in/glib-tereshchenko-a44571177/" target="_blank">  	linkedIn</a>
<p>Іорданов Сергій Олексійович (ІПЗм-18-3)     <a href="https://www.facebook.com/sergey.iordanov" target="_blank">  facebook </a>   &nbsp   <a href="https://www.linkedin.com/in/sergey-iordanov-594205118/" target="_blank">  	linkedIn</a>
<p>Паламар Вячеслав Олексійович (ІПЗм-18-3)     &nbsp   <a href="https://www.linkedin.com/in/vyacheslav-palamar-0b648710b/" target="_blank">  	linkedIn</a>
<p>Кожешкурт Ірина Вікторівна  (ІПЗм-18-3)     <a href="https://www.facebook.com/irina.kozheshkurt.56" target="_blank">  facebook </a>   &nbsp   <a href="http://linkedin.com/in/irina-kozhehkurt-a622a1130" target="_blank">  	linkedIn</a>
<p>Кам'янський Ігор Андрійович (ІПЗм-18-3)     &nbsp   <a href="https://www.linkedin.com/in/kamy1337/" target="_blank">  	linkedIn</a>
<p>Брижатов Дмитро Сергійович  (ІПЗм-18-1, 2020)     &nbsp   <a href="https://www.linkedin.com/in/bryzhatov" target="_blank">  	linkedIn</a>
<p>
    Руденко Денис Борисович  (ІПЗм-18-4)    &nbsp   <a href="https://www.linkedin.com/in/drudenko/
" target="_blank">  	linkedIn</a>
<p>Швець Володимир Сергійович (ІПЗм-18-1)     <a href="https://www.facebook.com/shvetsvl" target="_blank">  facebook </a>   &nbsp
<p>
    Ракова Аліна Олегівна (ІПЗм-18-2)  &nbsp   <a href="https://www.linkedin.com/in/аліна-ракова-501641197
" target="_blank">  	linkedIn</a>
<p>Абраменко Роман Олександрович  (ІПЗм-18-2)     <a href="https://www.facebook.com/romanYabramenko" target="_blank">  facebook </a>   &nbsp   <a href="https://www.linkedin.com/in/roman-abramenko-3504b9147/" target="_blank">  	linkedIn</a>
<p>Бітюкова Єлизавета Ігорівна (ІПЗм-18-3)     <a href="https://www.facebook.com/Lysithea.l" target="_blank">  facebook </a>   &nbsp   <a href="https://www.linkedin.com/in/елизавета-игоревна-3836b0133/" target="_blank">  	linkedIn</a>
<p>Бездітний Артем Едуардович  (ІПЗм-18-3)     &nbsp   <a href="https://www.linkedin.com/in/artem-bezditnyi-161220107/" target="_blank">  	linkedIn</a>
<p>Богомолов Олександр Євгенійович (ІПЗм-18-3)    &nbsp   <a href="https://www.linkedin.com/in/alexander-bogomolov-620991119/" target="_blank">  	linkedIn</a>
<p>
    Рассоха Ольга Валентинівна  (ІПЗм-18-2)     &nbsp   <a href="https://www.linkedin.com/in/olha-rassokha-30128b153/
" target="_blank">  	linkedIn</a>
<p>Кірсанов Андрій Сергійович (ІПЗмзд-18-1)   &nbsp   <a href="https://www.linkedin.com/in/kirsanovandreii/" target="_blank">  	linkedIn</a>
<p>Тихонова Олена Олександрівна(ІПЗмзд-18-1)       &nbsp   <a href="https://www.linkedin.com/in/alena-%D1%82ikhonova-ba8b82129/" target="_blank">  	linkedIn</a>
<p>Ковалько Максим Сергійович (ІПЗМ-18-4)     <a href="https://www.facebook.com/maxim.kovalko.92" target="_blank">  facebook </a>   &nbsp   <a href="https://www.linkedin.com/in/maksym-kovalko-778a5675/" target="_blank">  	linkedIn</a>
<p>Романюк Олександр Іванович  (ІПЗмзд-18-1)     <a href="https://www.facebook.com/oleksandr.romaniuk.7" target="_blank">  facebook </a>   &nbsp   <a href="https://fr.linkedin.com/in/oleksandr-romaniuk-49b966ab" target="_blank">  	linkedIn</a>
<p>Федоренко Антон Максимович (ІПЗмзд-18-1)     <a href="https://www.facebook.com/profile.php?id=100009536723057" target="_blank">  facebook </a>   &nbsp   <a href="https://www.linkedin.com/in/anton-fedorenko-87327b130/" target="_blank">  	linkedIn</a>
<p>Ніконова Анна Вадимівна  (ІПЗм-18-2)     <a href="https://www.facebook.com/nikon.ann" target="_blank">  facebook </a>   &nbsp   <a href="https://www.linkedin.com/in/annnikon" target="_blank">  	linkedIn</a>
<p>Воропаєв Антон Вікторович  (ІПЗмзд-18-1)     <a href="https://www.facebook.com/antonio.voropaev" target="_blank">  facebook </a>   &nbsp   <a href="https://www.linkedin.com/in/iosdevantonvoropaev/" target="_blank">  	linkedIn</a>
<p>Панфьоров Олег Тимофійович  (ІПЗмзд-18-1)     <a href="https://www.facebook.com/olegpanfyorov" target="_blank">  facebook </a>   &nbsp   <a href="https://www.linkedin.com/in/oleg-panfyorov/" target="_blank">  	linkedIn</a>
<p>Коверя Дмитро Миколайович  (ІПЗмзд-18-1)   &nbsp   <a href="https://www.linkedin.com/in/d-koveria" target="_blank">  	linkedIn</a>
<p>Кулик Владислав Володимирович (ІПЗмзд-18-1)     &nbsp   <a href="https://www.linkedin.com/in/vladyslav-kulyk/" target="_blank">  	linkedIn</a>
<p>Приходько Кирило Дмитрович  (2020 р)     <a href="https://www.facebook.com/akakipr/" target="_blank">  facebook </a>   &nbsp   <a href="http://linkedin.com/in/kyrylo-prykhodko-222741112" target="_blank">  	linkedIn</a>
<p>Луценко Владислав Дмитрович   (ПЗПІ-16-8)     &nbsp   <a href="https://www.linkedin.com/in/vladyslav-lut/" target="_blank">  	linkedIn</a>
<p>
    Залужний Денис Віталійович   (2020)   &nbsp   <a href="https://www.linkedin.com/in/denys-zaluzhnyi-b22306172/
" target="_blank">  	linkedIn</a>
<p>Нгуєн Тхао Мі   (ПЗПІ-16-8)     <a href="https://www.facebook.com/maria.nguyennn" target="_blank">  facebook </a>
<p>Алексєєва Валерія Анатоліївна (ПЗПІ-16-1)     &nbsp   <a href="https://www.linkedin.com/in/valeriia-aleksieieva-45a304155/" target="_blank">  	linkedIn</a>
<p>Люліна Катерина Петрівна  (ПЗПІ-16-3)       &nbsp   <a href="https://www.linkedin.com/in/kateryna-liulina-aa7537167" target="_blank">  	linkedIn</a>
<p>
    Пономаренко Артур Олександрович  (ПЗПІ-16)   &nbsp   <a href="https://www.linkedin.com/in/artur-ponomarenko-2007b1176/
" target="_blank">  	linkedIn</a>
<p>Станчик Кирило В'ячеславович (2020)     &nbsp   <a href="https://www.linkedin.com/in/kyrylo-stanchyk/" target="_blank">  	linkedIn</a>
<p>Малікін Дмитро Євгенович  (ПЗПІ-16-3)    &nbsp   <a href="https://www.linkedin.com/in/dmytro-malikin" target="_blank">  	linkedIn</a>
<p>Мокляк Ярослав Олегович  (ПЗПІ-16-2)      &nbsp   <a href="http://linkedin.com/in/yaroslav-mokliak-018aa9180" target="_blank">  	linkedIn</a>
<p>Черненко Єгор Анатолійович   (ПЗПІ-16-4)     &nbsp   <a href="https://www.linkedin.com/in/yehor-chernenko-755197143/" target="_blank">  	linkedIn</a>
<p>Яременко Мирослава  Максимівна   (ІПЗм-18-4)     <a href="https://www.facebook.com/profile.php?id=100011610396998" target="_blank">  facebook </a>   &nbsp   <a href="https://ua.linkedin.com/in/miroslava-yaremenko-640767119" target="_blank">  	linkedIn</a>
<p>
    Несміян Дмитро Михайлович   (ПЗПІ-16-6)     <a href="https://www.facebook.com/RicoRedburn19 " target="_blank">  facebook </a>   &nbsp   <a href="https://www.linkedin.com/in/dmytro-nesmiian/
" target="_blank">  	linkedIn</a>


