
@{
    ViewData["Title"] = "History";
}


<table width="100%" border="0">
    <tr>
        <td width=10px style=" vertical-align:top; text-align:center">
            <p>
                <img src="../Pic/history/Rvachov.jpg" />
                <span>Рвачев В.Л.</span><br /><br />
                <img src="../Pic/history/Shabanov.jpg" />
                <span>Шабанов-Кушнаренко Ю.П.</span><br /><br />
                <img src="../Pic/history/Murashko.jpg" />
                <span>Мурашко А.Г.</span><br /><br />
                <img src="../Pic/history/Djubko.jpg" />
                <span>Дюбко Г.Ф.</span><br /><br />
                <img src="../Pic/history/Bondarienko.jpg" />
                <span><a href="https://sites.google.com/site/piknure/home/istoria-kafedry/bondarenko" target="_blank">Бондаренко М.Ф.</a></span><br /><br />
                <img src="../Pic/history/Dudar.jpg" />
                <span>Дудар З.В.</span><br /><br />
        </td>
        <td style=" vertical-align:top; text-align:justify; padding: 0px 60px 0px 30px;">
            У 1963 році Харківський гірничий інститут було реорганізовано у Інститут гірничого машинобудування, автоматики та обчислювальної техніки. У цей період створюється кафедра автоматики та телемеханіки, завідувачем якої стає Іванченко Є.Я.
            <p>У цьому ж році кафедра автоматики та телемеханіки була перетворена у кафедру промелектроніки та обчислювальної техніки, завідувачем був назначений доцент Волков А.А.  Відокремившись від цієї кафедри, згідно з наказом №62 від 20 вересня 1963 р. ХІГМАОТа створюється кафедра Обчислювальної техніки. </p>
            <p>Першим завідувачем кафедри став Рвачов Володимир Логвинович. Разом із ним на кафедру прийшли працювати Шабанов-Кушнаренко Юрій Петрович, Мурашко Анрі Гаврилович, Шкляров Леонід Йосипович, Путятін Євген Петрович та Тищенко Володимир Володимирович. Кафедра Обчислювальної техніки здійснювала підготовку інженерів зі спеціальності Математичні та лічильно-вирішальні прилади та пристрої. У науковому плані кафедра займалася розробкою засобів обчислювальної техніки (ОТ), нових методів обчислень, математичним моделюванням властивостей зору людини..</p>
            <p>
                У 1964 г. стався перший розподіл кафедри ОТ. З’являється кафедра Математичного програмування та моделювання та кафедра Математичних машин.
            </p>
            У 1966 г. кафедра Математичного програмування та моделювання розділилася на кафедри Математичного моделювання (ММ) та кафедру Обчислювальної математики. Завідуючим кафедри ММ стає Шабанов-Кушнаренко Ю.П. У цей час поширюється тематика математичного моделювання психічних функцій людини та приходять на кафедру такі фахівці як Дюбко Геннадій Федорович, Качко Олена Григорівна, Марченко Юрій Сергійович, Ловицький Володимир Адріанович. </p>
            <p>
                Починаючи з 1969 року кафедра Математичного моделювання здійснює підготовку спеціалістів зі спеціальності Прикладна математика, спеціалізація – математичне забезпечення ЕОМ і АСУ. У 1975 р. наказом №86 від 15 травня 1975 р. ХІРЕ кафедру Математичного моделювання перейменовано у кафедру Програмного забезпечення ЕОМ (ПЗ ЕОМ). Період 1969-1984 рр. можна охарактеризувати як період розвитку нових наукових напрямків на кафедрі: розпізнавання зорових образів (керівник – Путятін Є.П.), реалізація біонічних моделей засобами обчислювальної техніки (Шабанов-Кушнаренко Ю.П. та Бондаренко М.Ф.), паралельні обчислення (Мурашко А.Г.). З’являються такі кафедри як кафедра Застосування ЕОМ (зав. кафедри - Путятін Є.П.) та кафедра Обчислювальної техніки (зав. каф. Бондаренко М.Ф.).
            </p>
            </p>
            З 1974 по 1984 г. кафедрою завідував Мурашко А.Г., а з 1984 по 1987 – Дюбко Г.Ф. У 1987 р. знову відбувається реорганізація. Кафедри ПЗ ЕОМ та ОТ об’єднуються під назвою ПЗ ЕОМ, завідувачем кафедри стає  <a href="https://sites.google.com/site/piknure/home/istoria-kafedry/bondarenko" target="_blank">Бондаренко Михайло Федорович</a>. У 1994 році Бондаренко М.Ф. був назначений ректором ХІРЕ, і його замісником і вірним помічником стала Дудар Зоя Володимирівна.
            <p>З 1998 р. кафедра активно займається розвитком дистанційної освіти у ВУЗі. У 2001 г. за ініціативою ХНУРЕ створюється Українська асоціація дистанційної освіти,  Михайло Федорович стає її президентом. При центрі післядипломної освіти (директор Дудар Зоя Володимирівна) кафедрою вперше в університеті розпочато підготовку кадрів по дистанційній формі навчання (спеціальність ПЗАС), за ініціативою кафедри (Каук В.І.) у 2002 р. в ХНУРЕ створюється Центр технологій дистанційної освіти.</p>
            <p>  У 2003 р. знову відбувається розділення кафедри: з’являється кафедра Соціальної інформатики, що влилася у напрямок підготовки Прикладна математика, завідуючою якої стала Солов’йова Катерина Олександрівна.</p>
            <p> У теперішній час кафедра займається як науковою діяльністю, так і готує бакалаврів за напрямком «Програмна інженерія» (ПІ), магістрів та спеціалістів зі спеціальності «Інженерія програмного забезпечення» (ІПЗ) та «Програмне забезпечення систем» (ПЗС). Напрям «Програмна інженерія» - єдиний напрямок у ХНУРЕ, який повністю відповідає європейському стандарту Software Engineering.</p>
            <p>З 11 грудня 2011 кафедра ПЗ ЕОМ була перейменована у кафедру Програмної інженерії.</p>
            <p>
                <img src="../Pic/history/Liapota.gif" style="float:right; margin: 20px; " />
                Ось вже 7 років студенти кафедри беруть активну участь у командних та особистих першостях та олімпіадах з програмування (тренер – Вечур О.В.), де часто стають переможцями, або займають призові місця: півфінал України (Донецьк, Харків), фінал України (Вінниця), Кубок України з програмування (м.Одеса), півфінал Світу з програмування (Румунія, м. Бухарест), відкрита особиста командна першість Південного Кавказу (Грузія, м. Батумі), відкритий online- кубок з програмування серед країн СНД та ін.
            </p>
            <p>За гарні результати у олімпійській діяльності з 2005 р. кафедра удостоєна честі проводити щорічні півфінали Всеукраїнської олімпіади з програмування серед вузів Східного регіону України, які ми проводили до 2010 р. Під керівництвом викладача кафедри Вечура О.В. з 1995 р. діє міжкафедральний студентський науково-учбовий загін «Програміст», де декілька поколінь студентів отримало практичні навички розробки програмного забезпечення.  На кафедрі працюють гуртки з програмування для школярів.</p>
            <p>Кафедрі було довірено підготувати команди школярів до участі у фінальному   етапі Всеукраїнського турніру юних інформатиків у 2011 і 2012 рр.. В   результаті наполегливої роботи команда м.Харкова двічі зайняла 3-е місце, а   команда області - 5-е. Протягом навчального року велася робота з   обдарованими школярами з підготовки до участі в олімпіадах по інформатики, в результаті якої 8-класник фізмат ліцею Іллі   Шевченко вдалося зайняти 1-е місце по області та країні серед 8-х та 9-х   класів.</p>
        </td>
    </tr>
</table>


