
@{
    ViewData["Title"] = "Science";
}

<div class="page_header">Наука</div>

<p> <strong>Науковими напрямками </strong> кафедри є: створення нового покоління обчислювальних систем і технологій;  педагогіка в нових освітніх середовищах, дистанційне навчання; проектування систем штучного інтелекту;  розробка математичних моделей механізмів людського інтелекту (зору, слуху, сприйняття, пізнавання тощо); розробка формального апарату методів логіки, алгебри, лінгвістичної алгебри і системи логічної підтримки проектування нових інформаційних технологій; сучасні технології інтеграції гетерогенних розподілених джерел даних і парадигма якості програмного забезпечення автоматизованих систем обробки інформації; програмні засоби автоматизованого формування інформаційного простору навчального процесу; інформаційні технології дистанційного навчання та електронної комерції; побудова, розробка і реалізації білінгових систем; інтелектуальний аналіз даних; розвиток основ теорії сегментації та ідентифікації геометричних об’єктів у режимі реального часу для прикладних завдань обробки цифрової інформації; семантичний аналіз зображень; розробка моделей, методів і алгоритмів розпізнавання для біометричних систем; знання-орієнтовані технології класифікації, діагностики і прогнозування ситуацій;  розробка підсистем аналізу зображень для системи обробки й аналізу технічної інформації в галузі медичного прогнозування; розробка програмного забезпечення для систем відеоконтролю; розробка моделі навчання і програмного середовища для проведення навчання та перевірки знань у довільній предметній галузі; розробка систем мобільного навчання; інтелектуальний аналіз даних.
<p><a href="https://docs.google.com/spreadsheets/d/1zaEUlwsWBHnA4Vje6gaR8Qmn__02Ujf001o6L6nL6Jw/edit?usp=sharing">Список праць викладачів кафедри.</a>
<p><a href="~/doc/nauch_napr.doc">Наукові напрямки діяльності викладачів та наукових співробітників кафедри.</a>

<p>Кафедра ПІ  має <strong>науково-дослідні та навчально-наукові лабораторії</strong>:
<p> •  <a href="https://nure.ua/department/kafedra-programnoyi-inzheneriyi-pi/laboratorii-kafedri/naukovo-doslidna-laboratorija-programnogo-zabezpechennja-avtomatizovanih-sistem" target="_blank">науково-дослідна лабораторія «Програмне забезпечення автоматизованих систем»</a>(науковий керівник проф. Дудар З.В.);
<p> •   <a href="https://nure.ua/branch/naukovo-doslidna-i-navchalna-laboratorija-informacijni-tehnologii-v-sistemah-navchannja-i-mashinnogo-zoru" target="_blank">науково-дослідна і навчальна лабораторія «Інформаційні технології в системах навчання і машинного зору»</a> (науковий керівник проф. Білоус Н.В. - <a href="https://itlcvs.wordpress.com/" target="_blank">сайт</a>);
<p> •   <a href="http://nure.ua/department/kafedra-programnoyi-inzheneriyi-pi/laboratorii-kafedri/navchalno-naukova-laboratorija-intelektualnih-programno-aparatnih-sistem-ipas" target="_blank">навчально-наукова лабораторія «Інтелектуальних програмно-апаратних систем»</a> (науковий керівник проф. Єрохін А.Л.);
<p> •  <a href="http://nure.ua/department/kafedra-programnoyi-inzheneriyi-pi/laboratorii-kafedri/navchalno-naukova-laboratorija-rozrobki-igrovih-zastosuvan" target="_blank">навчально-наукова лабораторія розробки ігрових додатків</a> (науковий керівник ст. викл. Новіков Ю.С.);
<p> •  <a href="https://nure.ua/department/kafedra-programnoyi-inzheneriyi-pi/laboratorii-kafedri/naukovo-navchalna-doslidna-laboratorija-mozkopodibnih-sistem" target="_blank">науково-навчальна дослідна лабораторія «Мозкоподібних систем» </a> (науковий керівник проф. Шубін І.Ю.);
<p> •  <a href="http://nure.ua/department/kafedra-programnoyi-inzheneriyi-pi/laboratorii-kafedri/naukovo-navchalnij-doslidnij-centr-matematichne-modeljuvannja" target="_blank">науково-учбовий дослідний центр «Математичного моделювання»</a>   (науковий керівник д.т.н., проф. Четвериков Г.Г.);
<p> •  <a href="https://nure.ua/department/kafedra-programnoyi-inzheneriyi-pi/laboratorii-kafedri/mizhnarodnij-naukovo-doslidnij-centr-matematichnoi-ta-prikladnoi-lingvistiki" target="_blank">«Міжнародний науково-дослідний Центр математичної та прикладної лінгвістики» </a> (науковий керівник д.т.н., проф. Четвериков Г.Г.);


<p> <strong>Аспірантура і докторантура</strong>  за спеціальностями:
<p>• 121 - Інженерія програмного забезпечення. Навчальні плани і програми доступні   <a href="https://nure.ua/branch/viddil-aspiranturi-ta-doktoranturi/specialnosti-ta-osvitno-naukovi-programi/121-inzhenerija-programnogo-zabezpechennja">тут </a>.

<p>
    <strong>Наукові керівники аспірантури</strong>

    <table width="900" border="1" cellpadding="10" style="border-collapse:collapse;">
        <tr>
            <td colspan="2"><strong>Наукові керівники</strong></td>
            <td><strong>Наукові інтереси</strong></td>

        </tr>

        <tr>
            <td><img src="../Pic/history/Dudar.jpg" /></td>
            <td>
<p>
    Завідувач кафедри ПІ, к.т.н., професор
    <a href="http://nure.ua/staff/zoya-volodimirivna-dudar"> Дудар Зоя Володимирівна</a>

</p>
    </td>
<td>Методи і моделі метаконтекстного обміну даними в інформаційних системах.</td>
  </tr>
<tr>
    <td><img src="../Pic/staff/belous.jpg" /></td>
    <td>
        <p>
            К.т.н., професор
            <a href="http://nure.ua/staff/nataliya-valentinivna-bilous"> Білоус Наталія Валентинівна </a>
        </p>
    </td>
    <td>Методології розробки, технології інтеграції та інтелектуального аналізу даних в корпоративних інформаційних системах.</td>
</tr>
<tr>
    <td><img src="../Pic/staff/bondarev.jpg" /></td>
    <td>
        <p>
            К.т.н., професор
            <a href="http://nure.ua/staff/volodimir-mihaylovich-bondaryev"> Бондарєв Володимир Михайлович </a>
        </p>
    </td>
    <td>Автоматизація процесів підвищення якості інтелектуальних систем в сфері розробки програмного забезпечення.</td>
</tr>
<tr>
    <td><img src="../Pic/staff/galuza.jpg" /></td>
    <td>
        <p>
            Д.ф.-м.н., професор
            <a href="http://nure.ua/staff/oleksiy-anatoliyovich-galuza"> Галуза Олексій Анатолійович  </a>
        </p>
    </td>
    <td>Математичне моделювання фізичних процесів. Машинне навчання.</td>
</tr>
<tr>
    <td><img src="../Pic/staff/erohin.jpg" /></td>
    <td>
        <p>
            Д.т.н., професор
            <a href="http://nure.ua/staff/andriy-leonidovich-yerohin"> Єрохін Андрій Леонідович </a>
        </p>
    </td>
    <td>
        Інтелектуальні системи виявлення структури і закономірностей в даних.
        <p> Методи візуалізації даних.
    </td>
</tr>
<tr>
    <td><img src="../Pic/staff/kachko.jpg" /></td>
    <td>
        <p>
            К.т.н., професор
            <a href="http://nure.ua/staff/olena-grigorivna-kachko"> Качко Олена Григорівна </a>
        </p>
    </td>
    <td>
        Еквівалентні перетворення програм.
        <p>Криптографічні системи підвищеної швидкодії.
    </td>
</tr>
<tr>
    <td><img src="../Pic/staff/lesnaya.jpg" /></td>
    <td>
        <p>
            К.т.н., професор
            <a href="http://nure.ua/staff/natalya-sovyetivna-lyesna"> Лєсна Наталя Советівна </a>
        </p>
    </td>
    <td>
        Методи, моделі та інформаційні технології розвитку соціально-економічної освітньо-наукової мережі з метою інтеграції в європейський простір.
    </td>
</tr>
<tr>
    <td><img src="../Pic/staff/chetverikov.jpg" /></td>
    <td>
        <p>
            Д.т.н., професор
            <a href="http://nure.ua/staff/grigoriy-grigorovich-chetverikov"> Четвериков Григорій Григорович </a>
        </p>
    </td>
    <td>
        Лексикографія.
        <p>Лінгвістичні технології.
        <p>Структурна, прикладна та математична лінгвістика.
        <p>Теорія інтелекту.
    </td>
<tr>
    <td><img src="../Pic/staff/shubin.jpg" /></td>
    <td>
        <p>
            К.т.н., професор
            <a href="http://nure.ua/staff/igor-yuriyovich-shubin"> Шубін Ігор Юрійович </a>
        </p>
    </td>
    <td>
        Розробка інтелектуальних гіпермедійних систем підтримки навчання.
        <p>Нові методи обробки формул в алгебрі скінченних предикатів.

        <p>Розробка математичних моделей і програмного забезпечення для систем енергозбереження.

    </td>
</tr>
<tr>
    <td><img src="../Pic/staff/vlasenko.jpg" /></td>
    <td>
        <p>
            Д.т.н., професор
            <a href="http://nure.ua/staff/larisa-andriivna-vlasenko"> Власенко Лариса Андріївна </a>
        </p>
    </td>
    <td>
        Моделювання динаміки фізичних та технологічних процесів  на підставі теорії неявних та вироджених еволюційних систем; теорія оптимальних рішень у сучасних технологіях, системний аналіз еволюційних процесів в електродинаміці, гідродинаміці, теплофізиці, радіофізиці, робототехніці, економіці, фінансах, менеджменті.
        <p>


    </td>
</tr>
<tr>
    <td><img src="../Pic/staff/rutkas.jpg" /></td>
    <td>
        <p>
            Д.ф.-м.н., професор
            <a href="http://nure.ua/staff/anatolij-georgijovich-rutkas"> Руткас Анатолій Георгийович  </a>
        </p>
    </td>
    <td>
        <p>


    </td>
</tr>
<tr>
    <td><img src="../Pic/staff/lanovoy.jpg" /></td>
    <td>
        <p>
            К.т.н., доцент
            <a href="http://nure.ua/staff/oleksiy-feliksovich-lanoviy"> Лановий Олексій Феліксович</a>
        </p>
    </td>
    <td>
        Моделювання поведінки натовпу, мережеві технологій.
        <p>Має значний науковий і практичний досвід по розробці і супроводу складних інформаційних систем, в тому числі - спеціального призначення.
    </td>
</tr>
<tr>
    <td><img src="../Pic/staff/revenchuk.jpg" /></td>
    <td>
        <p>
            К.т.н., доцент
            <a href="http://nure.ua/staff/ilona-anatoliyivna-revenchuk"> Ревенчук Ілона Анатоліївна</a>
        </p>
    </td>
    <td>
        Математичне і програмне забезпечення ЕОМ, 3D дизайн і моделювання, веб - дизайн.
        <p>
    </td>
</tr>
<tr>
    <td><img src="../Pic/staff/kauk.jpg" /></td>
    <td>
        <p>
            К.т.н., доцент
            <a href="http://nure.ua/staff/viktor-ivanovich-kauk"> Каук Віктор Іванович</a>
        </p>
    </td>
    <td>
        Інноваційна діяльність, дистанційне навчання, креативність.
        <p>
    </td>
</tr>

</table>

<p><a href="https://docs.google.com/document/d/1AKemk3LD062WdxD0IJ2sU4TQBtwoPkBYozd5EJSB4GE/edit?usp=sharing">Конференції та журнали ВАК за спеціальністю 121.</a>


