
@{
    ViewData["Title"] = "Student";
}

<div class="page_header">Загальна інформація</div>

<p /><a target="_blank" rel="noopener noreferrer" href="student/Polojennya.pdf">Положення про стипендіальне забезпечення</a>
<p /><a href="https://drive.google.com/open?id=1eRxitoQW_ODc-5e7ds38W9YNpi3cb7O0" target="_blank">Додаткові бали для стипендіального рейтингу (осінь 2019-2020 н.р.)</a>
<p /><a href="https://drive.google.com/open?id=1eRxitoQW_ODc-5e7ds38W9YNpi3cb7O0" target="_blank">Додаткові бали для стипендіального рейтингу (весна 2019-2020 н.р.). </a>
<p />Апеляція по додатковим балам для стипендіального рейтингу для всіх курсів (1,2,3 та магістри) буде проходити в п'ятницю 19.06.2020 з 18:00 до 20:00 за адресою <a href="http://meet.google.com/idh-gwww-kih" target="_blank">http://meet.google.com/idh-gwww-kih </a>

<p /><a target="_blank" rel="noopener noreferrer" href="https://docs.google.com/spreadsheets/d/160pVT-z-OGnpgdlPQFwfJKmsXVb_N1C1NEBTZbcQOGo/edit?usp=sharing"> Графік консультацій</a>
<p /><a target="_blank" rel="noopener noreferrer" href="https://docs.google.com/spreadsheets/d/1OlD5bEeFFOCwFRnHrWrXlyG_7evWKpqz9el0wDI0NaU/edit?usp=sharing"> Графік прийому заборгованостей</a>

<div class="page_header">Інформація для 1 курсу</div>
<p /><a href="student/OOP_coursePro_2020.doc">Методичні вказівки до курсового проекту з ООП</a>
<p /><a href="https://drive.google.com/drive/folders/13tKPOPomThWEeOvBjgPYuv8irGzerCeS?usp=sharing" target="_blank">Google Drive</a>

<div class="page_header">Інформація для 2 курсу</div>
<p /><a href="https://drive.google.com/drive/folders/1N1vwAuNhf8vQrYKOEjQnhi3Fi5DjBn1H?usp=sharing" target="_blank">Google Drive</a>

<div class="page_header">Інформація для 3 курсу</div>
<p /><a href="https://drive.google.com/drive/folders/1jzB8I4NxlOsGff_5QCtKLQHIT1D1tL3l?usp=sharing" target="_blank">Google Drive</a>

<div class="page_header">Інформація для 4 курсу</div>
<p /><a target="_blank" rel="noopener noreferrer" href="https://docs.google.com/spreadsheets/d/1I7dsKbrhIU2KrLqdovxNtihpBt8tt82FkODJH7CE7Lw/edit#gid=0"> Файл для запису студентів 4 курсу на дипломування</a>
<p /><a href="https://drive.google.com/drive/folders/0B2QpawhKtGXsMkw0N3F1cm8xczQ?usp=sharing" target="_blank">Google Drive</a>

<div class="page_header">Інформація для 5 курсу</div>
<p /><a href="https://drive.google.com/drive/folders/0B2QpawhKtGXsRzlhUmpzQ3dmeTA?usp=sharing" target="_blank">Google Drive</a>

<div class="page_header">Інформація для 6 курсу</div>
<p /><a href="https://drive.google.com/drive/folders/0B2QpawhKtGXsV1JnQ2NmSGgwQXM?usp=sharing" target="_blank">Google Drive</a>


<div class="page_header">Дипломування</div>
<p /><a href="https://drive.google.com/drive/folders/0B2QpawhKtGXsU1NCQmZxTzM2a0U?usp=sharing​" target="_blank">Методичні вказівки до дипломування</a>
<p /><a target="_blank" rel="noopener noreferrer" href="student/ДСТУ_3008-2015.PDF">ДСТУ 3008:2015 Інформація та документація. Звіти у сфері науки і техніки. Структура та правила оформлювання</a>
<p /><a target="_blank" rel="noopener noreferrer" href="student/dstu-8302-2015.pdf">ДСТУ 8302:2015. Інформація та документація. Бібліографічне посилання. Загальні положення та правила складання</a>



