<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Dept2</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
         <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow mb-3">
            <div class="container">
               <a class="navbar-brand logo" asp-area="" asp-controller="Home" asp-action="Index" style="color : white"
                  title="Кафедра програмної інженерії ХНУРЕ">

                  <img src="~/pi-logo-white.svg" style="width: 100px"/>
               </a>
               <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                     aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
               </button>
               <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                  @if (User.Identity.IsAuthenticated)
                  {
                      <partial name="_LoginPartial" />
                  }
                  <ul class="navbar-nav navbar-light flex-grow-1">
                     <li class="nav-item">
                        <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Staff">колектив</a>
                     </li>
                     <li class="nav-item">
                        <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Entrant">абітурієнту</a>
                     </li>
                     <li class="nav-item">
                        <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Student">студенту</a>
                     </li>
                     <li class="nav-item">
                        <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Science">наука</a>
                     </li>
                     <li class="nav-item">
                        <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Education">освіта</a>
                     </li>
                     <li class="nav-item">
                        <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Graduates">випускники</a>
                     </li>
                     <li class="nav-item">
                        <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="History">історія</a>
                     </li>
                     <li class="nav-item">
                        <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Conacts">контакти</a>
                     </li>
                     <li class="nav-item">
                         <a class="nav-link text-light" asp-controller="Admin" asp-action="Index">π</a>
                     </li>
                  </ul>
               </div>
            </div>
         </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    
    <footer class="border-top footer text-muted">
        <div class="container">
           <div class="row">
               <div class="col">
                   <ul class="nav navbar-dark">
                       <li class="nav-item">
                           <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">головна</a>
                       </li>
                       <li class="nav-item">
                           <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Staff">колектив</a>
                       </li>
                       <li class="nav-item">
                           <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Entrant">абітурієнту</a>
                       </li>
                       <li class="nav-item">
                           <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Student">студенту</a>
                       </li>
                       <li class="nav-item">
                           <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Science">наука</a>
                       </li>
                       <li class="nav-item">
                           <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Education">освіта</a>
                       </li>
                       <li class="nav-item">
                           <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Graduates">випускники</a>
                       </li>
                       <li class="nav-item">
                           <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="History">історія</a>
                       </li>
                       <li class="nav-item">
                           <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Conacts">контакти</a>
                       </li>
                   </ul>
                   <span>&copy; 2020 - Dept2 </span>

               </div>
           </div>
        </div>



    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>


