<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Dept2</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
         <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-primary border-bottom box-shadow mb-3">
            <div class="container">
               <a class="navbar-brand logo" asp-area="" asp-controller="Home" asp-action="Index"
                  title="Кафедра програмної інженерії ХНУРЕ">
                  &lt;<span style="font-size: 28px; color : white">ПI</span>&gt;
               </a>
               <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                     aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
               </button>
               <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                  @*<partial name="_LoginPartial" />*@
                  <ul class="navbar-nav flex-grow-1">
                     <li class="nav-item">
                        <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Privacy">колектив</a>
                     </li>
                     <li class="nav-item">
                        <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Privacy">абітурієнту</a>
                     </li>
                     <li class="nav-item">
                        <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Privacy">студенту</a>
                     </li>
                     <li class="nav-item">
                        <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Privacy">наука</a>
                     </li>
                     <li class="nav-item">
                        <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Privacy">освіта</a>
                     </li>
                     <li class="nav-item">
                        <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Privacy">випускники</a>
                     </li>
                     <li class="nav-item">
                        <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Privacy">історія</a>
                     </li>
                     <li class="nav-item">
                        <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Privacy">контакти</a>
                     </li>
                  <li class="nav-item">
                     <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">π</a>
                  </li>
                  </ul>
               </div>
            </div>
         </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    
    <footer class="border-top footer text-muted">
       <div class="container">
          <div class="row">
             <div class="col">  
                <div>
                   Контакти:
                   <br /> e-mail: <a href="mailto:d_se@nure.ua">d_se@nure.ua</a> <br />
                   Україна, 61166, м. Харків, пр. Науки 14, ХНУРЕ, к.267, станція метро «Наукова» <br />
                   Тел: (380-57) 702-14-46<br />
                </div>
                            
                <div>Посилання на соціальні мережі:
                <br /> <a target="_blank" rel="noopener noreferrer" href="https://www.facebook.com/pg/se121.nure.ua/">https://www.facebook.com/pg/se121.nure.ua/</a>
                <br /> <a target="_blank" rel="noopener noreferrer" href="https://www.facebook.com/groups/se121.nure.ua/">https://www.facebook.com/groups/se121.nure.ua/</a>
                <br /> <a target="_blank" rel="noopener noreferrer" href="https://www.linkedin.com/company/se121-nure-ua/">https://www.linkedin.com/company/se121-nure-ua/</a>
                <br /> <a target="_blank" rel="noopener noreferrer" href="https://www.instagram.com/se121.nure.ua/">https://www.instagram.com/se121.nure.ua/</a>
                </div>
              </div>
          </div>         
       </div>



       @*&copy; 2020 - Dept2 - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>*@

    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>


